<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script language="javascript" type="text/javascript">
        window.history.forward();
    </script>
    <link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}">
    <title>Document</title>
</head>
<body>
    {% extends 'base.html' %}

    {% block content %}
    
    <section class="hero">
        <div class="box">
            <h1>Region Name</h1>
            <p>Book your hotel room now to get the best possible vacation!</p>
        </div>
    </section>

    <main class="hotelDetail">
        <div class="detail">
            <h2><b>Hotel Name</b></h2>
            <hr>
            <div class="detailer">
                <h3>Nama Hotel</h3>
                <p>deskripsi hotel</p>
            </div>
            <hr>
            <div class="detailer">
                <h3>Address</h3>
                <p>address</p>
            </div>
            <hr>
            <div class="detailer">
                <h3>Facility</h3>
                <ul>
                    <li>Wi-Fi</li>
                    <li>Swimming Pool</li>
                    <li>Parking Spot</li>
                    <li>Dining Hall</li>
                </ul>
            </div>
        </div>
        <hr>
        <div class="detail">
            <h2><b>Room</b></h2>
            <hr>
            <div class="block">
                <div class="detailer">
                    <h3>Single</h3>
                    <p>deskripsi hotel</p>
                </div>
                <div class="button">
                    <a href="#" class="buttonPrimary">Book</a>
                </div>
            </div>
        </div>
    </main>
    
    {% endblock %}
</body>
</html>
