<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script language="javascript" type="text/javascript">
        window.history.forward();
    </script>
    <link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}">
    <title>Document</title>
</head>
<body>
    {% extends 'base.html' %}

    {% block content %}
    
    <section class="hero">
        <div class="box">
            <h1>Region Name</h1>
            <p>Book your hotel room now to get the best possible vacation!</p>
        </div>
    </section>

    <main class="hotelDetail">
        <div class="detail">
            <h2><b>{{ data['Location'] }}</b></h2>
            <hr>
            <div class="detailer">
                <h3>{{ data['LocationName'] }}</h3>
                <p>{{ data['LocationDescription'] }}</p>
            </div>
            <hr>
            <div class="detailer">
                <h3>Address</h3>
                <p>{{ data['LocationAddress'] }}</p>
            </div>
            <hr>
            <div class="detailer">
                <h3>Facility</h3>
                <ul>
                    <li>Wi-Fi</li>
                    <li>Swimming Pool</li>
                    <li>Parking Spot</li>
                    <li>Dining Hall</li>
                </ul>
            </div>
        </div>
        <hr>
        <div class="detail">
            <h2><b>Room</b></h2>
            <hr>
            {% for row in rooms %}

            <div class="block">
                <div class="detailer">
                    <h3>{{ row['RoomType'] }}</h3>
                    <p>price: {{ row['RoomPrice'] }}</p>
                </div>
                <form action="/add/{{ data['LocationID'] }}/{{ row['RoomID'] }}" method="post">
                    <label for="">Check in date: </label>
                    <input type="date" name="CheckIn" id="" required>
                    <br>
                    <label for="">Check out date: </label>
                    <input type="date" name="CheckOut" id="" required>
                    <br>
                    
                    <label for="">Payment Type: </label>
                    <select name="PaymentType" id="" required>
                    <option value="BankMega">Mega Matercard</option>
                    <option value="Paypal">Paypal</option>
                    <option value="BCA">BCA</option>
                    </select>
                    <br>

                    <br>

                    <input type="submit" value="Book" class="buttonPrimary">
                </form>
            </div>
            <br>
            <hr>

            {% endfor %}
        </div>
    </main>
    
    {% endblock %}
</body>
</html>
