<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    <script language="javascript" type="text/javascript">
        window.history.forward();
    </script>

    <a href="/logout">Log out</a>
    Welcome {{ session['username'] }}

    {% for row in reservations %}
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Reservation Card</h5>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">{{ row['ReservationID'] }}</li>
                <li class="list-group-item">{{ row['SpecialRequest'] }}</li>
                <li class="list-group-item">A third item</li>
            </ul>
            <a href="/update" class="btn btn-primary">Update Details</a>
        </div>
    </div>
    {% endfor %}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js" integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq" crossorigin="anonymous"></script>
</body>
</html>