<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script language="javascript" type="text/javascript">
        window.history.forward();
    </script>
    <link rel="stylesheet" href="{{ url_for('static', filename='profile.css') }}">
    <title>Profile</title>
</head>
<body>
    {% extends 'adminBase.html' %}

    {% block content %}

    <main>
        <div class="topWrap">
            <h1>Location List</h1>
        </div>
        <div class="tableWrap">
            <h3>Records</h3>
            <div class="tableContent">
                <table>
                    <thead>
                        <tr>
                            <th>LocationID</th>
                            <th>Region</th>
                            <th>Hotel</th>
                            <th>Hotel Address</th>
                            <th>Description</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for row in locations %}
                        <tr>
                            <td>{{ row['LocationID'] }}</td>
                            <td>{{ row['Location'] }}</td>
                            <td>{{ row['LocationName'] }}</td>
                            <td>{{ row['LocationAddress'] }}</td>
                            <td>{{ row['LocationDescription'] }}</td>
                            <td><a href="/adminPage/location/update/{{ row['LocationID'] }}" class="buttonSecondary">Update</a></td>
                            <td><a href="/adminPage/location/delete/{{ row['LocationID'] }}" class="buttonFour">Delete</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="regionButt">
                <a href="/adminPage/location/add" class="buttonPrimary">Add Record</a>
            </div>
        </div>
        <div class="links">
            <a href="/">back to home</a>
        </div>
    </main>

    {% endblock %}
</body>
</html>