<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="{{ url_for('static', filename='/js/login.js') }}" defer></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/login.css') }}">
    <script language="javascript" type="text/javascript">
        window.history.forward();
    </script>
    <title>Document</title>
</head>
<body>
    <div class="wrapper">
        <form id="loginForm" action="/login/admin" method="post">
            <h1>Login</h1>
            <div class="inputBox">
                <label for="">Username</label>
                <br>
                <input type="text" name="StaffUsername" placeholder="Username" id="username">
                <div class="error"></div>
            </div>
            <div class="inputBox">
                <label for="">Password</label>
                <br>
                <input type="password" name="StaffPassword" placeholder="Password" id="password">
                <div class="error"></div>
            </div>
            <div class="button">
                <input type="submit" value="Login" class="buttonPrimary">
            </div>
            <div class="links">
                <a href="/login">return</a>
                <a href="/">back to home</a>
            </div>
            {{ text }}
        </form>
    </div>
</body>
</html>
