<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script language="javascript" type="text/javascript">
        window.history.forward();
    </script>
    <link rel="stylesheet" href="{{ url_for('static', filename='profile.css') }}">
    <title>Profile</title>
</head>
<body>
    {% extends 'profileBase.html' %}

    {% block content %}

    <main>
        <div class="topWrap">
            <h1>Update Location Info</h1>
        </div>
        <div class="tableWrap">
            <div class="links">
                <a href="/profile/book">return</a>
            </div>
            <hr>
            <div class="tableContent">
                <div class="wrapper">
                    <form action="/profile/update/{{ data['ReservationID'] }}" method="post">
                        <div class="inputBox">
                            <label for="">Check in date</label>
                            <br>
                            <input type="date" name="CheckIn" id="" value="{{ data['CheckIn'] }}">
                        </div>            
                        <div class="inputBox">
                            <label for="">Check out date</label>
                            <br>
                            <input type="date" name="CheckOut" id="" value="{{ data['CheckOut'] }}">
                        </div>
                        <div class="regionButt">
                            <input type="submit" value="Update Record" class="buttonPrimary">
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="links">
            <a href="/">back to home</a>
        </div>
    </main>

    {% endblock %}
</body>
</html>