<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script language="javascript" type="text/javascript">
        window.history.forward();
    </script>
    <link rel="stylesheet" href="{{ url_for('static', filename='profile.css') }}">
    <title>Profile</title>
</head>
<body>
    {% extends 'profileBase.html' %}

    {% block content %}

    <main>
        <div class="topWrap">
            <h1>Update Location Info</h1>
        </div>
        <div class="tableWrap">
            <div class="links">
                <a href="/profile/book">return</a>
            </div>
            <hr>
            <div class="tableContent">
                <table>
                    <thead>
                        <tr>
                            <th>Hotel</th>
                            <th>Room Type</th>
                            <th>Payment Type</th>
                            <th>Price</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for row in bookings %}
                        <tr>
                            <td>{{ row['LocationName'] }}</td>
                            <td>{{ row['RoomType'] }}</td>
                            <td>{{ row['PaymentType'] }}</td>
                            <td>{{ row['RoomPrice'] }}</td>
                            <td><a href="/profile/payment/pay/{{ row['ReservationID'] }}" class="buttonThird">Pay</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="links">
            <a href="/">back to home</a>
        </div>
    </main>

    {% endblock %}
</body>
</html>